
label{
    font-weight: 700;
    padding: 10px;
    min-height: 40px;
    display: block;
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
}

.input__user{
    position: relative;
    z-index: 90;
}

input{
    background: #fff;
    border-radius: 3px;
    height: 45px;
    line-height: 45px;
    padding: 0px 40px 0px 25px;
    border: 3px solid transparent;
    @include transition-ease;

    &:focus{
        border: 3px solid $primary-color;
        outline: none;
        box-shadow: 3px 0px 30px rgb(163, 163,163, 0.4);
    }
}

.icon-first{
    position: absolute;
    top: 9px;
    padding: 5px;
    color: #bdbdbd;
    left: 5px;
    // // bottom: 14px;
    // // z-index: 100;
    // // font-size: 16px;

}

.container-btn{
    //  display: flex;
     justify-content: column;
     align-items: center;
     grid-column: span 1;
     &__submit{
         height: 30px;
         line-height: 30px;
         width: 20%;
         background: #bdbdbd;
         color: black;
         font-weight: bold;
         border: none;
         border-radius: 3px;
         cursor: pointer;
         @include transition-ease;
         &:hover{
             box-shadow: 3px 0px 30px rgb(163, 163,163, 1);

         }

     }
}