$validation: validate;

form {
  line-height: 2;
}

form input:invalid {
  border: 2px solid red;
}

form label:invalid {
  color: red;
}

form input:valid {
  border: 2px solid green;
}

input {
  background: #fff;
  border-radius: 3px;
  height: 45px;
  line-height: 45px;
  padding: 0px 40px 0px 25px;
  border: 3px solid transparent;
  @include transition-ease;

  &:focus {
    border: 3px solid $border-primary;
    outline: none;
    box-shadow: 3px 0px 30px rgb(163, 163, 163, 0.4);
  }
}

label {
  font-weight: 700;
  padding: 10px;
  min-height: 40px;
  display: block;
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}

.form-input__user {
  position: relative;
  z-index: 90;
}

.icon-first {
  position: absolute;
  top: 9px;
  padding: 5px;
  color: $icon-color;
  left: 5px;
}

.icon-check {
  @include iconValidate($color: green);
}

.icon-mark {
  @include iconValidate($color: red);
}

.container-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-column: span 1;
  margin-top: 1rem;
  &__msmexito {
    font-size: 14px;
    color: aqua;
    display: none;
  }
  &__submit {
    height: 30px;
    line-height: 30px;
    width: 20%;
    background: #bdbdbd;
    color: $textwarning;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    @include transition-ease;
    &:hover {
      box-shadow: 3px 0px 30px rgb(163, 163, 163, 1);
    }
  }
}

.container-error {
  grid-column: span 2;
  height: 45px;
  line-height: 45px;
  padding: 0px 15px;
  border-radius: 3px;
  background: $primary-color;

  &__error {
    margin: 0px;
    color: $textwarning;
  }
  b {
    margin-left: 10px;
  }
}
