@include media-md{
    form{
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem; 
    }
   input{
    width: 50%;
   }

   .icon-check{
    position: absolute;
   
    z-index: 100;
    font-size: 16px;
   
    left: 215px;
    top: 15px;

   }

}

@include media-lg{
    form{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem; 
    }
   input{
    width: 50%;
   }
}