@include media-md {
  main {
    width: 80%;
  }
  form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }
  input {
    width: 50%;
  }
  .terminos {
    &__label {
      gap: 0.5rem;
    }
    &__input {
      height: 20px;
      width: 1.5%;
    }
  }

  .container-error {
    grid-column: span 1;
    height: 45px;
    line-height: 45px;
    padding: 0px 15px;
    border-radius: 3px;
    background: $primary-color;
  }
}

@include media-lg {
  main {
    width: 100%;
  }
  form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  input {
    width: 50%;
  }

  .terminos {
    grid-column: span 2;
    &__label {
      gap: 0.5rem;
    }
    &__input {
      height: 20px;
      width: 1.5%;
    }
  }

  .container-btn {
    display: flex;
    grid-column: span 2;
  }

  .container-error {
    grid-column: span 2;
    height: 45px;
    line-height: 45px;
    padding: 0px 15px;
    border-radius: 3px;
    background: $primary-color;
  }
}
