@import "./config";
@import "./responsive";
@import "./form";

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: #e5e5e5;
}

main {
  margin: auto;
  max-width: 800px;
  padding: 40px;
}

p {
  font-size: 12px;
  margin: 0px;
  color: $primary-color;
  opacity: 1;
}
